<div class="container-fluid p-0" style="width: 100%;">
  <div class="card">
    <div class="card-body">
      <div class="mb-3 d-flex align-items-center justify-content-between">
        <h4 class="mb-2 fw-bolder">Danh sách giao dịch</h4>
        <div class="mb-2 d-flex">
          <search-input [placeholder]="'Tìm kiếm...'" (changed)="search($event)"></search-input>
        </div>
      </div>
      <div class="table-responsive">
        <ngx-datatable #table columnMode="force" class="bootstrap" [headerHeight]="50" [footerHeight]="50"
                       rowHeight="auto" [externalSorting]="true" [messages]="messages" [loadingIndicator]="isLoading"
                       [externalPaging]="true" [limit]="take" [rows]="items" [count]="count" (page)="onPage($event)">
          <ngx-datatable-column name="Số tiền giao dịch" prop="totalAmount" [width]="100" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span class="badge rounded-pill bg-info">{{value | currency: "VND"}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Trạng thái" prop="status" [width]="100" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <ng-container [ngSwitch]="value">
                <span *ngSwitchCase="0" class="badge bg-info rounded-pill">Đang chờ xử lý</span>
                <span *ngSwitchCase="1" class="badge bg-success rounded-pill">Thành công</span>
                <span *ngSwitchCase="2" class="badge bg-danger rounded-pill">Thất bại</span>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Thanh toán" prop="paymentGateway" [width]="100" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <ng-container [ngSwitch]="value">
                <span *ngSwitchCase="0" class="badge bg-secondary rounded-pill">Chuyển khoản ngân hàng</span>
                <span *ngSwitchCase="1" class="badge bg-info rounded-pill">Momo</span>
                <span *ngSwitchCase="2" class="badge bg-success rounded-pill">VnPay</span>
                <span *ngSwitchCase="3" class="badge bg-danger rounded-pill">ZaloPay</span>
                <span *ngSwitchCase="4" class="badge bg-warning rounded-pill">Ví</span>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Hành động" prop="action" [width]="70" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <ng-container [ngSwitch]="value">
                <span *ngSwitchCase="0" class="badge bg-secondary rounded-pill">Nạp tiền</span>
                <span *ngSwitchCase="1" class="badge bg-warning rounded-pill">Thanh toán</span>
                <span *ngSwitchCase="2" class="badge bg-danger rounded-pill">Hoàn tiền</span>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Thông tin" prop="note" [width]="200" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Ngày tạo" prop="createdDate" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value | date:'dd/MM/yyyy HH:mm' }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Cập nhật cuối" prop="lastUpdatedDate" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value | date:'dd/MM/yyyy HH:mm' }}
            </ng-template>
          </ngx-datatable-column>
          <!--          <ngx-datatable-column name="Hành động" prop="id" [sortable]="false">-->
          <!--            <ng-template let-value="value" ngx-datatable-cell-template>-->
          <!--              <a class="btn btn-primary btn-sm  ms-2" (click)="edit(value)">Cập nhật</a>-->
          <!--            </ng-template>-->
          <!--          </ngx-datatable-column>-->
        </ngx-datatable>
      </div>

    </div>
  </div>
</div>
