<div class="conversation-header">
  <div class="d-flex align-items-center">
    <div class="d-block d-lg-none cursor-pointer me-2 font-size-lg">
      <i class="feather icon-menu"></i>
    </div>
    <h5 class="mb-0"></h5>
  </div>
</div>
<perfect-scrollbar class="conversation-body">
  <div class="p-4 w-100">
    <form *ngIf="form" [formGroup]="form" (validSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label class="control-label">Họ tên khách hàng</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group mb-3">
        <label class="control-label">Tài khoản đăng nhập</label>
        <input type="text" class="form-control" formControlName="userName">
      </div>
      <div class="form-group mb-3">
        <label class="control-label">Kích hoạt?</label>
        <switch name="basicSwitch" formControlName="status"></switch>
      </div>
      <button class="btn btn-light me-2" type="button" [routerLink]="['..']">Quay lại</button>
      <button class="btn btn-primary" type="submit" [ladda]="isSubmit">Lưu</button>
    </form>
  </div>
</perfect-scrollbar>
